# Project files #
*.class
*.db
*.log
*.orig
DatabaseContainer.java

# Package Files #
*.war
*.ear

# Directories #
/ChronoMaticFrontEnd/nbproject/private/
/ChronoMaticFrontEnd/build/
/ChronoMaticFrontEnd/dist/
/ChronoMaticFrontEnd/db/