# Project files / zorg zelf voor een classpath #
*.class
*.db

# Package Files #
*.db
*.war
*.ear
/ChronoMaticFrontEnd/nbproject/private/
/ChronoMaticFrontEnd/build/
/Frontend classes/.settings/
/ChronoMaticFrontEnd/dist/