# Project files #
*.class
*.db

# Package Files #
*.war
*.ear

# Directories #
/ChronoMaticFrontEnd/nbproject/private/
/ChronoMaticFrontEnd/build/
/Frontend classes/.settings/
/ChronoMaticFrontEnd/dist/